.pagination_action{
margin: 0 0.1em;
display:inline-block;
padding:0.5em;
font-size:1.3em;
color:black;

}
.cart-btn:hover{
background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

            border-radius:25px;
            transition:2s;
            box-shadow:0px 0px 15px #bfff00;

}


