
<!doctype html>
{% load static %}
<html lang="en">
  <head>
      <style>

  .pagination_action{
        margin: 0 0.1em;
          display:inline-block;

        padding:0.5em;
        font-size:1.3em;
        color:black;

}
.pagination_action:hover
{
color:brown;
}
.pagination-number{
background:#6D85C7;
padding:0.3em 0.5em;
color:fff;
border-radius:2px;

}
.pagination-number:hover, .pagination-current
{
background-color:#3354AA;

}

.nav-profile li:hover{
background: 	#A3A4A3;
padding-left:1em;
transition:2s;

}
.nav-profile ul li a{
padding-left:2px;
padding-right:2px;
display:block;

.footnav{
display:block;
item-style:none;
letter-spacing:2em;
}
.sidebar li a:hover{
background:#696969;
}
      </style>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Ecommerce Site, Online Shopping Store">
      <meta name="author" content="vikash Kumar">
      <meta name="keywords" content="Clothes , men clothes, women clothes ,kids clothes,shopping center">

        <title>BUDGETMART</title>



    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="icon" href= "{% static "images/fevicon.png" %}" type="image/gif" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
      <link rel="text/html" href="/resources/demos/style.css">
         <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--       script-->



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

       <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
      <script src="{% static 'js/zoomsl.js' %}"></script>
            <script src="{% static 'js/xzoom.js' %}"></script>


  </head>
  <body class="text-center">
  <nav class="navbar  navbar-expand-md  navbar-dark bg-dark" >
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <a class="navbar-brand" href="{%url 'home'%}">BXMART</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:right;" >

        <ul class="me-5  navbar-nav  d-flex ">
            <li class="nav-item"><a class="nav-link"  href="{% url 'home'%}">Home</a> </li>

            {% if user.is_authenticated %}
                            {% if user.is_staff == True %}

            <li class="nav-item"><span class="nav-link"> Welcome, {{user.username}}</span></li>

             <li class="nav-item"><a class="nav-link" href="{%url 'seller_dashboard'%}">My Profile</a> </li>
            {% else %}
            <li class="nav-item"><span class="nav-link"> Welcome, {{user.username}}</span></li>

            <li class="nav-item"><a class="nav-link" href="{%url 'user_dashboard'%}">My Profile</a> </li>

            {% endif %}

             <li class="nav-item"><a class="nav-link" href="{%url 'logout'%}">Logout</a> </li>
            {% else %}
             <li class="nav-item"><a class="nav-link" href="{%url 'login'%}">Login</a> </li>
            <li class="nav-item"><a class="nav-link" href="{%url 'register_user' %}">Register</a> </li>
            {% endif %}
            <li class="nav-item">
                 <a class="nav-link" href="{% url 'cart' %}">
                <i class="fa fa-shopping-cart fa-lg">
              <span id="count" class="bg-warning count text-danger  border border-primary rounded-circle">{{count}}</span></i>

                </a></li>
        </ul>
    </div>
  </div>
</nav>

  {% block content %}

  {% endblock %}

<div class="container-fluid py-5 bg-secondary">
    <div class="row">
        <div class="col-md-6">
             <span class="text-info">
       North of Biscuit Factory More,near Manbhavan Sweets Nasriganj</span><br/>
            <span class="text-info">,Danapur Cant Road ,Patna 800012</span><br/>
            <strong><span class="text-center">Contact no: ph 010-456231/8757975388</span></strong>
        </div>
        <div class="col-md-3 offset-md-3">
             <div class="d-block ml-auto">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item bg-primary"><a  href="#"><i class="fa fa-twitter  text-warning"></i> </a> </li>
            <li class="list-group-item"><a  href="https://www.facebook.com/Bxmart-101517931974120"><i class="fa fa-facebook fa-lg text-info"></i> </a> </li>
            <li class="list-group-item bg-warning"><a  href="#"><i class="fa fa-instagram fa-lg text-success"></i> </a> </li>
        </ul>
    </div>

        </div>
    </div>







</div>


  <footer class="footer bg-dark text-light mt-auto py-3" style="bottom:0px">
    <div class="container">
      <span class="text-center">BudgetMart@co.in</span>
    </div>
  </footer>






    <!-- Option 1: Bootstrap Bundle with Popper -->
  	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="{% static 'js/zoomsl.js' %}"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
  <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>



    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="{% static 'js/zoomsl.js' %}" type="text/javascript"></script>
  </body>
</html>
