{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">Checkout</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" >
                            <label for="fname">First Name:</label>
                            <input type="text" class="form-control" name="fname" id="fname" value="{{usr.first_name}}" readonly>
                        </div>
                        <div class="col-md-6">
                             <label for="lname">Last Name:</label>
                            <input type="text" class="form-control" name="fname" id="lname" value="{{usr.last_name}}" readonly>
                        </div>
                        <div class="col-md-6">
                             <label for="email">Email:</label>
                            <input type="text" class="form-control" name="email" id="email" value="{{usr.email}}" readonly>
                        </div>
                        <div class="col-md-6">
                             <label for="mob">Contact no:</label>
                            <input type="text" class="form-control" name="mob" id="mob" value="{{reg.contact}}" readonly>
                        </div>
                        <div class="col-md-12">
                             <label for="addr">Address:</label>
                            <input type="text" class="form-control" name="addr" id="addr" value="{{reg.address}}" readonly>
                        </div>
                        <div class="col-md-6">
                             <label for="state">State:</label>
                            <input type="text" class="form-control" name="state" id="state" value="{{reg.state}}" readonly>
                        </div>
                        <div class="col-md-6">
                             <label for="dist">District:</label>
                            <input type="text" class="form-control" name="dist" id="dist" value="{{reg.district}}" readonly>
                        </div>
                        <div class="col-md-6">
                             <label for="pin">Pincode:</label>
                            <input type="text" class="form-control" name="pin" id="pin" value="{{reg.pincode}}" readonly>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 py-4">
             <div class="card">
                <div class="card-header">
                    <h5 class="text-center">Your Order</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Product </th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>SubTotal :</td>
                            <td>{{total}}</td>
                        </tr>
                         <tr>
                            <td>Shipping Charge :</td>
                            <td>FREE</td>
                        </tr>
                         <tr>
                            <td>Total :</td>
                            <td>{{total}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2" >
                                    <div class="form-check">
                                         <label class="form-check-label" for="cod">
                                            CASH ON DELIVERY
                                          </label>
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="cod" value="cod">

                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label" for="online">
                                            ONLINE PAYMENT
                                          </label>
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="online" checked value="online">

                                        </div>
                            </td>
                        </tr>
                         <tr>

                            <td colspan="2"><button onclick="place_order()" class="btn btn-success">Place order</button> </td>
                        </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    const place_order=()=>{
<!--    alert($('#cod').prop("checked"))-->
    if($('#cod').prop("checked"))
    {
        window.location.href="{%url 'buy_order_done'%}"

    }else if($('#online').prop("checked"))
    {
    window.location.href="{%url 'buy_process_payment'%}"
    }
    }
</script>
{% endblock %}
