{% extends 'base.html' %}
{% load filters %}
{% block content %}
<div class="container-fluid">
    <div class="row m-3">
        <div class="col-md-12 col-sm-12">
            <h3 class="text-center text-light bg-success ">ITEMS IN YOUR CART</h3>
             {% if msg == 'exists'%}
            <div class="alert alert-warning" role="alert">


                Item already added!


            </div>
              {% endif %}
        </div>
        <div class="col-md-8 table-responsive  offset-md-2 py-2 border border-secondary">

            {% if status %}
            <h5 class="bg-warning text-white" style="box-shadow:0px 0px 10px gray">login to add into cart</h5>
            <div class="card">
                <div class="card-header bg-info">
                    <h5 class="text-white bg-success m-2">Login here</h5>
                </div>
                 <div class="card-body">
                     <form method="post" action="register/login">
                         {% csrf_token %}
                         <div class="form-group">
                             <label for="uname">Username</label>
                                 <input type="text" name="username" id="uname" class="form-control">

                         </div>
                           <div class="form-group">
                               <label for="pwd">Password</label>
                                 <input type="password" name="password" id="pwd" class="form-control" placeholder="Enter Username">
                         </div>
                          <div class="form-group">
                               <label ></label>
                              <button type="submit"   class="form-control btn btn-outline-success" >submit</button>
                         </div>

                     </form>
                 </div>
                 <div class="card-footer bg-success"></div>
            </div>

            {% else %}


            <table class="table table-hover border-secondary text-warning">

                <thead>
                <tr class="bg-info">
                    <th>S.no</th>
                     <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                     <th>Size</th>
                     <th>Qty</th>
                    <th>Alter Qty</th>
                    <th>Total</th>
                     <th>Action</th>


                </tr>
                </thead>

                <tbody>
        {% for item in product %}

        <tr id="tr{{item.id}}">
            <td>{{ forloop.counter}}</td>
            <td><img src="{{item.product.img.url}}" height="80" width="60" alt="img"> </td>
            <td>{{item.product.name}}</td>
            <td id="pprice{{item.id}}">{{item.product.price}}</td>
            {% if item.product.category_type_id == 1 or item.product.category_type_id == 2 %}
            <td>
               {{item.size}}
           </td>
            {% else %}
            <td><p>--</p></td>
            {% endif %}
            <td id="qt{{item.id}}">{{item.qty}}</td>
            <td>
                <form>

                    <select name="qty" id="se{{item.id}}" onchange="selectqty('{{item.id}}')">
                        {% for i in 13|range %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}


                    </select>
                </form>
                </td>
                 <td id="tprice{{item.id}}">{{item.product|price_total:item}}</td>
                    <td><button class="btn btn-danger btn-sm" onclick="remove_item('{{item.id}}')">&times;Remove</button></td>



            </tr>
                {% endfor %}
        </tbody>
                <tfoot>
<tr>
    <td colspan="7" class=" text-success"><b>Gross Total</b></td>
    <td  id="gprice"><strong class="text-info">{{product|gross_total}}</strong></td>
    <td><a href="{% url 'place_order'%}" class="btn btn-success btn-sm text-white">Checkout</a></td>
</tr>
                </tfoot>

            </table>
            {% endif %}
        </div>
    </div>

</div>
<script>
    function remove_item(id)
    {
    let status=confirm("Are you sure to remove")

    if(status == true)
    {
    $.ajax({
    url:'{% url 'removeitems' %}',
    data:{'cid':id},
    success:function(data){
    console.log(data);

    $("#tr"+id).hide();
    window.location="/cart"
    }
    })
    }
    }

    function selectqty(cid)
    {

    $.ajax({
          url:'{% url 'updatecartqty' %}',
                    data:{'qty':$("#se"+cid).val(), 'cid':cid},
                        success:function(data)
                        {
                            console.log(data)

                         }
    })
$("#qt"+cid).html($("#se"+cid).val())
<!--$("#se"+cid).val('2')-->
$("#tprice"+cid).html($("#pprice"+cid).text()*$("#qt"+cid).text())





    }



  window.addEventListener('load', function getdata(){
  console.log('page is fully loaded');
  $.ajax({
    url:'{% url 'get_cart_data'%}',
    type:'get',
    success:function(data){
    console.log(data)
    $("#checkprice").text(data.total*data.quantity)
    $("#checkqty").text(data.quantity)
     $("#checktotal").text("Rs :"+data.total+"/-")
    }


    })


});

</script>
{% endblock %}