{% extends 'user_dashboard.html' %}
{% block dashboard %}
<div class="container-fluid">
    <div class="card">
    <div class="card-header bg-info">
        <h5 class="card-title p-2 bg-success m-2 text-white">Change Password</h5>
    </div>
    <div class="card-body">
        <div class="row ">
            <div class="col-md-6 offset-md-3 border border-primary p-3">

                <h6 class="bg-warning">{{msg2}}</h6>


                        <form action="change_password" method="post">

                            {% csrf_token %}
            <div class="form-group">
                <label for="password">Enter Password</label>
                <input type="text" name="password" id="password" class="form-control" >
            </div>
            <div class="form-group">
                <label for="newpassword">Enter New Password</label>
                <input type="text" name="newpassword" id="newpassword" class="form-control">
            </div>
                  <div class="form-group">
                <label for="repass">Confirm Password</label>
                <input type="text" name="repassword" id="repass" class="form-control" >
            </div>


                             <div class="form-group">
                <button type="submit" class="form-control btn btn-outline-success btn-sm">Submit</button>
            </div>

        </form>

            </div>
        </div>
    </div>
    <div class="card-footer bg-info"></div>
    </div>
</div>
{% endblock %}