{% extends 'user_dashboard.html' %}
{% block dashboard %}
<div class="container-fluid">
    <div class="card">
    <div class="card-header bg-info">
        <h5 class="card-title p-2 bg-success m-2 text-white">Edit Profile</h5>
    </div>
    <div class="card-body">
        <form action="edit_profile" method="post" enctype="multipart/form-data">
            {% csrf_token %}
             <div class="row">
<!--            <div class="col-md-8 offset-md-2 border border-primary p-3">-->

            <div class="col-md-6">
                <label for="fname">First Name</label>
                <input type="text" name="fname" id="fname" class="form-control" value="{{user.first_name}}">
            </div>
            <div class="col-md-6">
                <label for="lname">Last Name</label>
                <input type="text" name="lname" id="lname" class="form-control" value="{{user.last_name}}">
            </div>
                  <div class="col-md-6">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" value="{{user.email}}">
            </div>
                            <div class="col-md-6">
                <label for="image">Uploads</label>
                <input type="file" name="image" id="image" class="form-control" value="{{reg.image}}" accept="image/*">
            </div>
            <div class="col-md-12">
                <label for="address">Address</label>
                <input type="text" name="address" id="address" class="form-control" value="{{reg.address}}">
            </div>


            <div class="col-md-6">
                <label for="contact">Contact</label>
                <input type="text" name="contact" id="contact" class="form-control" value="{{reg.contact}}">
            </div>
                  <div class="col-md-6">
                <label for="dist">District</label>
                <input type="text" name="dist" id="dist" class="form-control" value="{{reg.district}}">
            </div>
                <div class="col-md-6">
                <label for="state">State</label>
                <input type="text" name="state" id="state" class="form-control" value="{{reg.state}}">
            </div>
                                   <div class="col-md-6">
                <label for="pin">Pincode</label>
                <input type="text" name="pin" id="pin" class="form-control" value="{{reg.pincode}}">
            </div>


                             <div class="form-group">
                <label for="address"></label>
                <button type="submit" class="form-control btn btn-outline-success btn-sm">Submit</button>
            </div>



<!--            </div>-->
        </div>
        </form>
    </div>
    <div class="card-footer bg-info"></div>
    </div>
</div>
{% endblock %}