{%extends 'base.html'%}
{% block content %}
<div class="container my-5">
    <div class="row p-3">
        <div class="col-md-6 offset-md-3 "style="box-shadow: 2px 2px 20px black;">
                <div class="card">
        <div class="card-header bg-info text-white my-2">
            <h5 class="card-title text-center">Reset Password</h5>
        </div>
                <div class="card-body">
                    <div id="result" class="text-white"></div>
                    <form action="{%url 'forget_password'%}" method="post">
                        {% csrf_token %}
                        <div class="form-group" id="user">
                            <label for="un">Username</label>
                                <input type="text" name="uname" placeholder="Enter your username" id="un" class="form-control" >
                                <button type="button" id="cbtn" class="btn btn-success btn-sm mt-2" onclick="getpass()">Continue</button>

                        </div>


                            <div class="form-group" id="rotp" style="display:none">
                            <label for="otp">Enter Your OTP</label>
                                <input type="text" name="otp" placeholder="Enter your OTP" id="otp" class="form-control" >
                                <input type="hidden" id="sotp">
                                 <button type="button" class="btn text-white my-2 btn-sm btn-info " onclick="verifyOtp()">Verify OTP</button>
                            </div>

                             <div class="form-group" id="pass" style="display:none">
                            <label for="password">Enter New Password</label>
                                <input type="password" name="password" placeholder="Enter your New Password" id="password" class="form-control" >

                                 <button type="submit" class="btn text-white my-2 btn-sm btn-success ">Submit</button>
                            </div>

                    </form>
                </div>
        <div class="card-footer bg-info"></div>

    </div>

        </div>
    </div>
</div>

<script>

   function getpass()
    {
    let username=$("#un").val()
    $.ajax({
    url:'{% url 'reset_password' %}',
    data:{username:username},
    type:'get',
    success:function(data)
    {
<!--    alert(JSON.stringify(data))-->
        if(data.status=='failed')
        {
        $("#result").html("<p class='bg-warning'>No user from this name found!</p>")
        }else if(data.status=='error')
        {
                $("#result").html("<p class='bg-danger'>Something went wrong! could not sent email to "+data.email+" </p>")
        }else if(data.status=='sent')
        {
                        $("#result").html("<p class='bg-success'>An OTP is sent to your registered email to "+data.email+" </p>")
                        $('#sotp').val(data.otp)
                        $('#cbtn').hide(1000);
                        $("#rotp").show();
        }
    }
    })

    }
    function verifyOtp()
    {
     eotp=$("#otp").val()
     rotp=$("#sotp").val()
     if(rotp==eotp)
     {
       $("#result").html("<p class='bg-success'>Enter Your New Password  </p>")
     $("#rotp").hide()
     $("#pass").show()
     }else
     {
                     $("#result").html("<p class='bg-warning'>OTP did not match with sending OTP ! </p>")
     }
    }
<% if status %>
alert({{status}})
   window.location="/"
<% endif %>

</script>
{% endblock %}
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>-->

<!--</body>-->
<!--</html>-->
