{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class=" offset-md-4 col-md-4 border border-secondary">



<form action="/add" method="post">
  <div class="mb-3">
    {% csrf_token %}
    <label for="exampleInputEmail1" class="form-label">Num1</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="num1">

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Num2</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="num2">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
</div>

{% endblock %}
