{% extends 'base.html' %}
 {% block content %}
{% load static %}
<!---->
<div class="container-fluid bg-info">
    <div class="row">
        <div class="col-md-3">
            <form action="{% url 'home' %}" method="get" id="sform">
                <input name="q" type="hidden" id="qInput">
            </form>
        </div>
        <div class="col-md-6 p-3 ">
            <div class="input-group">
             <div class="input-group-prepend">
                     <span class="input-group-text"><select><option>All</option></select></span>
             </div>
             <input type="text" name="q" id="searchVal" class="form-control"  >

            <div class="input-group-append">
                <button class=" btn btn-warning" onclick="submitbtn()"><i class="fa fa-search"></i>Search </button>
            </div>
                <input type="hidden" id="arrVal" value="{{data}}">
         </div>

        </div>
        <div class="col-md-3 ">

                 <ul class="navbar-nav mt-3 profile">

                <li class="nav-item">
                    <a href="{% url 'cart' %}" class="nav-link"><i class="fa fa-shopping-cart fa-lg "><span class="nav-item cart count bg-warning rounded-circle border border-danger">{{count}}</span> </i></a>
                </li>
            </ul>


        </div>
    </div>
</div>



<!---->
<div class="container-fluid ">
   <div class="row bg-white text-dark border border-secondary">

     <div class="col-md-12">
<!--       #staet carousel-->
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src='{{apps.c1_img.url}}' height=400 class="d-block w-100" alt="{{apps.c1_img}}'">
      <div class="carousel-caption d-none d-md-block">
        <h5>BXMART</h5>
        <p>Get 50% discount on Kids Wear.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src='{{apps.c2_img.url}}' height=400 class="d-block w-100" alt="{{apps.c2_img}}">
      <div class="carousel-caption d-none d-md-block">
        <h5>BXMART</h5>
        <p>Get 10% discount on grocery.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src='{{apps.c3_img.url}}' height=400 class="d-block w-100" alt="{{apps.c3_img.url}}">
      <div class="carousel-caption d-none d-md-block">
        <h5>BXMART</h5>
        <p>BUY ONE GET ONE OFFER ON LANDLOOMS.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>
<!--     #end carousel-->
     <div class="col-md-12">
         <div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-4">Our Products</h1>
    <p class="lead">We deals in electronic,garments,footwears and gtoceries.</p>
  </div>
</div>
     </div>

<!--     #jumbtron-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
     <div class="col-md-12 ">
       <div class="row">
         <div class="col-md-3">
<!--           list-->
           <div class="list-group">
  <a href="/" class="list-group-item list-group-item-action active">
   All Products
  </a>
    {% for category in category %}

  <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.category_name}}</a>
    {% endfor %}
</div>

         </div>
         <div class="col-md-9">
           <div class="row">
             <div class="col-md-12">

<!--               end jumbtron-->

                 <div class="col-md-12">
                    <div class="row border border-secondary">
                        {% if list %}
                        {% for item in list %}
                        <div class="col-md-4 mx-auto py-2">
                              <div class="card-columns">
                                 <div class="card">

                                 <div class="card-body" id="imgprev">
                                      <a href="/{{item.id}}"><img class="card-img-top" src="{{item.img.url}}" alt={{item.img.url}} height="300" width="150"></a>
                                     <h5 class="card-title">{{item.name}}</h5>
<!--                                         <p class="card-text" style="height:40px;">{{item.desc}}</p>-->
                                     {% if item.category_type_id == 1 or item.category_type_id == 2 or item.category_type_id == 3 %}
                                         <div><span>Size :</span>
                                         <div class="btn-group btn-group-sm btnGroup " role="group" aria-label="..."   >
                                             <button type="button" class=" text-info btn btn-outline-warning border border-info" value="S">S</button>
                                                <button type="button" class=" text-info btn btn-outline-warning  border border-info" value="M">M</button>
                                                 <button type="button" class=" text-info btn btn-outline-warning  border border-info" value="L">L</button>
                                                <button type="button" class="text-info btn btn-outline-warning  border border-info" value="XL">XL</button>
                                         </div>
                                         </div>
                                     {% endif %}
                                        <hr>
                                         <button class="border rounded bg-info text-light"><span>&#8377 {{item.price}}/-</span></button>
                                           <button class="btn cart-btn btn-warning text-white btn-sm btn-block add-to-cart" onclick="addItems({{item.id}})">Add to Cart</button>
                                            <p class="card-text"><small class="text-muted">Last updated {{item.date}}.</small></p>


                                 </div>
                                 </div>
                         </div>
                        </div>
                    {% endfor %}
                        {% else %}

                        <h5 class="bg-warning text-white">No Result Found !</h5>
                        {% endif %}
                 </div>
<!--paginator-->
                <div class="col-md-12 m-2">
  {% if list.has_previous %}
                     <a class="pagination_action" href="/?page=1">
                         <i class="fa fa-angle-double-left"></i>
                     </a>
                     <a class="pagination_action" href="/?page={{list.previous_page_number}}">
                          <i class="fa fa-angle-left"></i>
                     </a>
                     {% endif %}

                     {% for num in list.paginator.page_range %}
                      {% if list.number == num %}
                      <span class="pagination-number pagination-current">{{num}}</span>
                       {%elif num > list.number|add:'-2' and  num < list.number|add:'2'%}
                     <a class="pagination-number" href="/?page={{num}}"> {{num}}</a>
                     {% endif %}
                     {% endfor %}

                     {% if list.has_next %}

                     <a class="pagination_action" href="/?page={{list.next_page_number}}">
                          <i class="fa fa-angle-right"></i>
                     </a>
                     <a class="pagination_action" href="/?page={{list.paginator.num_pages}}">
                          <i class="fa fa-angle-double-right"></i>
                     </a>
                     {% endif %}

</div>

                 </div>

             </div>
           </div>

<!--             ppaginator-->

         </div>

       </div>

     </div>
<!--       #end jumbo-->
<!--       #card column-->

       </div>
   </div>
<script>
 let item_size='';
       $(".btnGroup button").on('click', function(){
    let btn=$(this)
    btn.addClass('active').siblings().removeClass('active')
    let size=btn.val()
    item_size=size
    })


    function addItems(id)
    {
       $(this).css('background','red')
     let item_id=id;
     let item_qty='1'

    console.log(item_size)

    let result;

<!--     alert(item_id)-->
     $.ajax({
     url:'{% url 'cart'%}',
     type:'post',

     data:{pid:item_id,qty:item_qty,size:item_size,'csrfmiddlewaretoken': '{{ csrf_token }}'},
     success:function(data)
     {
        res=JSON.stringify(data)

        if(data.msg=="exist")
        {
        console.log("Item already Added!")
        alert("Item already Added!")

        }
        else if(data.msg=='login')
        {
        alert("Login to add in cart!")
        }
        else if(data.msg=='sorry')
        {
        alert("You are to allowed to add in cart!")
        }
        else if(data.msg=='saved')
        {

       $(".count").text(data.count)

        <!--fly to cart-->
 $('.add-to-cart').on('click', function () {
        var cart = $('.cart');
        var imgtodrag = $(this).parent('.card-body').find("img").eq(0);
        if (imgtodrag) {
            var imgclone = imgtodrag.clone()
                .offset({
                top: imgtodrag.offset().top,
                left: imgtodrag.offset().left
            })
                .css({
                'opacity': '0.5',
                    'position': 'absolute',
                    'height': '150px',
                    'width': '150px',
                    'z-index': '100'
            })
                .appendTo($('body'))
                .animate({
                'top': cart.offset().top + 10,
                    'left': cart.offset().left + 10,
                    'width': 75,
                    'height': 75
            }, 1000, 'easeInOutExpo');

            setTimeout(function () {
                cart.effect("shake", {
                    times: 2
                }, 200);
            }, 1500);

            imgclone.animate({
                'width': 0,
                    'height': 0
            }, function () {
                $(this).detach()
            });
        }
    });

        <!--end cart-->
        }
         console.log(res)

     }

     })


    }

item_size="M"
<!--Submit_form-->
const submitbtn=() => {
$("#qInput").val($("#searchVal").val())
$("#sform").submit();
}

</script>
<script>
 $( function () {

$.ajax({
url:'{% url 'getItem' %}',
type:'get',
success: function(d)
{
console.log(JSON.stringify(d))
$( "#searchVal" ).autocomplete({
      source: d.data
    },{
    autoFocus:true,
    delay:0,
    minLength:2
    });
}
})
 })



  </script>
<script>

</script>


  {% endblock %}