<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <style type="text/css">

	#page-wrap {
		width: 700px;
		margin: 0 auto;
	}
	.center-justified {
		text-align: justify;
		margin: 0 auto;
		width: 30em;
	}
	table.outline-table {
		border: 1px solid;
		border-spacing: 0;
	}
	tr.border-bottom td, td.border-bottom {
		border-bottom: 1px solid;
	}
	tr.border-top td, td.border-top {
		border-top: 1px solid;
	}
	tr.border-right td, td.border-right {
		border-right: 1px solid;
	}
	tr.border-right td:last-child {
		border-right: 0px;
	}
	tr.center td, td.center {
		text-align: center;
		vertical-align: text-top;
	}
	td.pad-left {
		padding-left: 5px;
	}
	tr.right-center td, td.right-center {
		text-align: right;
		padding-right: 50px;
	}
	tr.right td, td.right {
		text-align: right;
	}
	.grey {
		background:grey;
	}
</style>
    <title>Invoice</title>
</head>
<body>
<div style="border: 1px solid black;width:100%;">
	<h5 style="text-align:center;color:white;background-color:black; margin-top:0;padding:5px;">TAX INVOICE</h5>
	<table >
		<tr>
			<td colspan="3">
				<a href="/static/images/logo2.png"><img src="/static/images/logo2.png" alt="error"></a>
			</td>
		</tr>

				<tr>
					<td width="35%">
						<strong>Sold BY:</strong><br>
						<span>BXMART</span><br/>
						<strong>Date:</strong>{{date}}<br>
						<strong>Address:</strong><span>North of Devisthan, Danapur</span><br>
						<span>Patna Bihar, Pincode no-800012</span><br>
						<strong>Order No:</strong>{{order.order_id}}<br>
						<span>Order Date:</span>{{order.added_on}}<br>
					</td>
					<td width="20%"></td>
										<td width="45%" style="float:right;">

						<strong>Shiping Address:</strong><br>
						<strong>Vikash Kumar</strong><br>
							<strong>Address: </strong><span style="text-transform: capitalize;">{{reg.address}} </span>
					<span style="  text-transform: capitalize;">{{reg.district}},<span id="cState">{{reg.state}}</span>,{{reg.pincode}}</span><br>
						<strong>Invoice Number:</strong>{{inv}}<br>
						<span>Invoice Date:</span>{{date}}<br>


					</td>
				</tr>
		</tbody>
		</table>
		<table width="100%" class="outline-table " style="margin-top:20px;">
			<thead>
			<tr style="border:1px solid black;">				<th>SL No</th>

				<th>Description</th>
				<th>Unit Price</th>
				<th>Qty</th>
				<th>Tax Rate (%)</th>
				<th>Tax Type</th>
				<th>Total Amount</th>
			</tr>
			</thead>
			<tbody id="tBody">
			{% for i in order_rep %}
				<tr class="border-bottom border-top border-right center">
					<td>{{forloop.counter}}</td>
					<td>{{i.product.name}}<br>Size:({{i.size}})</td>
					<td id="tPrice">{{i.product.price}}</td>
					<td id="tQty">{{i.qty}}</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr class="border-bottom border-right center">
					<td colspan="6">Total</td>
					<td id="tTotal"></td>
				</tr>
				<tr class="border-bottom border-right center" >
					<td colspan="6">Shipping Charge:</td>
					<td id="tShip">{{sett.ship_amt}}</td>
				</tr>
				<tr class="border-bottom border-right center" >
					<td colspan="6">Sub Total:</td>
					<td ><strong id="tSub"></strong></td>
				</tr>

			<tr class="border-bottom border-right">
				<td colspan="8" height="50px"><strong>Amount in Words:   </strong><span id="tWord" style="text-transform:capitalize"></span></td>
			</tr>
			<tr>
				<td colspan="8" height="100px"><strong style="float:right;padding-right:40px;">For Traders</strong><br>
					<img src="{{sett.Sign.url}}" alt="sign" width="100" height="40" style="float:right;padding-right:40px;"><br><br><br>
					<strong style="float:right;padding-right:10px;">Authorized Signatory</strong><br><br><br></td>
			</tr>

			</tfoot>
		</table>

</div>
</body>
<script>
var a = ['', 'one ', 'two ', 'three ', 'four ', 'five ', 'six ', 'seven ', 'eight ', 'nine ', 'ten ', 'eleven ', 'twelve ', 'thirteen ', 'fourteen ', 'fifteen ', 'sixteen ', 'seventeen ', 'eighteen ', 'nineteen '];
var b = ['', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];


	function inWords(num) {
    if ((num = num.toString()).length > 9) return 'overflow';
    n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
    if (!n) return;
    var str = '';
    str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
    str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
    str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
    str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
    str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + 'only ' : '';
    $('#tWord').text(str)
}
</script>

<script>
$("#tBody tr").each(function(){
let price =$('td',this).eq(2).text();
let qty =$('td',this).eq(3).text();
let gst=$('td',this).eq(4).text();
let tAmt=(price*qty)+(((price*qty)*gst)/100).toFixed(2);
       $('td',this).eq(6).text(tAmt)
})
let gTotal=0
$("#tBody tr").each(function(){
gTotal+=parseFloat($('td',this).eq(6).text())
})

$("#tTotal").text(gTotal)
let total=parseFloat($("#tTotal").text())
let shipping=parseFloat($("#tShip").text())
let sub=$("#tSub").text(total+shipping)

</script>
<script>
let gst;
let sgst='SGST + CGST';
let igst='IGST';


$("#tBody tr").each(function(){
gTotal+=parseInt($('td',this).eq(6).text())
if($("#cState").text()=='Bihar')
	{

	gst=sgst
		$("td",this).eq(5).text(gst)
		$("td",this).eq(4).text(18)
	}else
	{
	gst=igst
	$("td",this).eq(5).text(gst)
			$("td",this).eq(4).text(18)
	}
})

$("#tBody tr").each(function(){
let price =$('td',this).eq(2).text();
let qty =$('td',this).eq(3).text();
let gst=$('td',this).eq(4).text();
let tAmt=(price*qty)+(((price*qty)*gst)/100);
       $('td',this).eq(6).text(parseFloat(tAmt).toFixed(2))
})

let gTotal2=0
$("#tBody tr").each(function(){
gTotal2+=parseFloat($('td',this).eq(6).text())
})
$("#tTotal").text(gTotal2)

 total=parseFloat($("#tTotal").text())
 shipping=parseFloat($("#tShip").text())
 sub=$("#tSub").text(total+shipping)

$("#tWord").text(inWords(Math.round(parseFloat($("#tSub").text()))))

</script>
</html>