<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Login</title>
  </head>
  <body class="bg-info">
  {% block content %}
<div class="row mb-4 mx-auto py-5">

    <div class="col-md-6 offset-md-3 border border-success p-2">
         <div class="card" style="box-shadow:0px 0px 20px #ff6666">
             {% for msg in messages %}
        <h5 class="text-danger text-center bg-warning"><span>{{msg}}</span></h5>
        {% endfor %}
        <div class="card-header bg-success">
            <h5 class="bg-info text-center text-white">Login</h5>
        </div>
        <div class="card-body">
         <form action="login" method="post">
            {% csrf_token %}
  <div class="mb-3">
    <label for="Email1" class="form-label">Username</label>
    <input type="text" class="form-control" id="Email1" name="username" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
<div class="mb-3">
    <a href="{%url 'forget_password'%}" class="text-center text-warning">Forget password</a>
</div>
            <button type="submit" class="btn btn-primary" style="box-shadow:0px 0px 20px yellow">Submit</button>
</form>
        </div>

    </div>




    </div>
</div>


{% endblock %}

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
