{% extends 'user_dashboard.html'%}
{%block dashboard %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table  border border-primary">
                <thead class="text-white bg-success">
                <h5 class="text-center">My Product in Cart</h5>
                <tr class="scope">
                    <th>S.no</th>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="bg-info">
                 {% for i in cart %}
                <tr class="scope">
                <td>{{forloop.counter}}</td>
                <td><img src="{{i.product.img.url}}" height="50" width="50" alt="error"/></td>
                <td>{{i.product.name}}</td>
                <td>{{i.product.price}}</td>
                <td>{{i.qty}}</td>
                <td><button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#m{{i.id}}"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-sm btn-warning m-2"><i class="fa fa-pencil-square-o"></i> </button>
                    <button class="btn btn-danger btn-sm" onclick="delItem({{i.product.id}})"><i class="fa fa-trash"></i> </button></td>


            </tr>
                 <!--                modal-->
             <div class="modal fade" id="m{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="card">

              <div class="card-body">
                  <img src="{{i.product.img.url}}" alt="error" width="150" height="150">

              </div>
              <div class="card-footer">
                   <h5>{{i.product.name}}</h5>
                  <p><strong>{{i.product.price}}</strong>&#8377;</p>
                  <p>{{i.product.desc}}</p>
              </div>

          </div>
      </div>
      <div class="modal-footer">

        <a href="/{{i.product.id}}" type="button" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>

            {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
           <!-- Modal -->
<!---->
        </div>
    </div>

</div>
<script>

    function delItem(pid)
    {
    let del_id=pid;
<!--    alert(del_id)-->
   let status= confirm("Are you sure to delete ?")
    if(status==true)
    {
    $.ajax({
    url:'{% url 'delete_product'%}',
    type:'post',
    data:{pid:del_id,'csrfmiddlewaretoken':'{{csrf_token}}'},
    success:function(data)
    {
    console.log("deleted")
    }

    })


window.location.href="/my_product"
}

    }



</script>


{% endblock %}
