{% extends 'base.html'%}
{% block content %}
<div class="container" id="orderPg">
    <div class="card">
        <div class="card-header">
            <h5 class="bg-warning text-white">Order placed successfully!</h5>
        </div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                <th>Product</th>
                <th>Description</th>
                </thead>
                <tbody>
                <tr>
                    <td>Customer</td>
                    <td class="text-capitalize">{{user.first_name}} {{user.last_name}}</td>
                </tr>
                <tr>
                    <td>Order ID:</td>
                    <td>{{order.id}}</td>
                </tr>

                <tr>
                    <td>Invoice:</td>
                    <td>{{order.invoice}}</td>
                </tr>
                <tr>
                    <td>Payment Mode</td>
                    <td>{{order.payment_mode}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Size</th>
                                <th>Total</th>
                            </tr>
                            </thead>

                            {% for p in product %}

                            <tbody id="tbody">
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td >{{p.product.name}}</td>
                                <td id="price">{{p.product.price}}</td>
                                <td id="qty">{{p.qty}}</td>
                                <td>{{p.size}}</td>
                                <td id="total"></td>

                            </tr>
                            </tbody>

                            {% endfor %}

                            <tfoot>
                            <tr>
                                <td colspan="5"><strong>Gross Total</strong> </td>
                                <td class="bg-success text-white"><strong id="gTotal"></strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <button class="btn btn-success btn-sm printMe">Print</button>
        </div>
    </div>
</div>
<script>



$("#tbody tr").each(function(){
let price =$('td',this).eq(2).text();
let qty =$('td',this).eq(3).text();
       $('td',this).eq(5).text(price*qty)
})


$('.printMe').click(function(){
     window.print();
});
let total=0;
$("#tbody tr").each(function(){
price= parseInt($('td',this).eq(5).text())
total+=price;
})
$("#gTotal").text(total)

</script>
{% endblock %}