{% extends 'user_dashboard.html'%}
{%block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                {% for p in order %}
                <div class="card-header">
                    <strong>Order Id: {{p.order_id}}</strong>
                    <p>Processed on: {{p.date}}</p>
                </div>
                <div class="card-body">
                    <table class="table border border-secondary mt-2">
                <thead class="bg-info text-white">
                <tr>
                    <th>S.no</th>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Purchased</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tbody>
                {% for i in p.products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img src="{{i.img.url}}" alt="{{i.img.url}}" width="50" height="50"></td>
                    <td>{{i.name}}</td>
                    <td>{{i.price}}</td>
                    <td>{{p.date}}</td>
                    <td>{{p.status}}</td>
                        <td class="d-none" id="img_src">{{p.image.url}}</td>

                   <td><a href="/{{i.id}}/" class="btn btn-success btn-sm"><i class="fa fa-eye">View</i> </a> </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

                </div>
                {% endfor%}
            </div>
        </div>
    </div>
</div>
<script>
    const img_src=$("#img_src").text()
    $('#user_img').attr('src',img_src);
</script>
{% endblock %}