{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row py-5 mx-auto my-5">
                <div cllass="col-md-6 p-5" style="box-shadow:0px 0px 10px black">
                    <h5 class="text-white text-center bg-warning p-2 mt-2">Payment done Successfully</h5>
                    <a href="/" class="btn btn-primary mb-5  ">Continue to Shopping</a>
                </div>

    </div>
</div>
{% endblock %}