{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row py-5 mx-auto my-5">
                <div cllass="col-md-6 p-5" style="box-shadow:0px 0px 10px black">
                    <h5 class="text-info pt-5">Payment Cancelled due some Technical issue. if your amount is deducted from you card.
                    contact to my technical team</h5>
                    <a href="/" class="btn btn-primary  pb-5">Continue to Shopping</a>
                </div>

    </div>
</div>
{% endblock %}