{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row py-5 mx-auto p-5">

             <div cllass="col-md-6 mt-5"  style="box-shadow:0px 0px 10px gray">
                    <h5 class="bg-warning text-info m-5">Click here to continue</h5>
                    {{form.render}}
                 <h5 class="mb-5"></h5>
                </div>



    </div>
</div>
{% endblock %}