{% extends 'base.html'%}
{% block content %}
{%load static %}
{%load filters %}

<div class="container">
    <div class="row m-2">
        <div class="col-md-8 border border-secondary ">
            <div class="row">
                <div class="col-md-4 pt-2 border ">
                    <div class="col-md-12">
                     {% for prod in product %}
                        <div>
                            <img class=" mainImg p-2 mx-1" id="mainImg" src="{{prod.img.url}}" width="230" height="300"/>
                        </div>
                        <div style="display:inline; " class="d-flex d-block ">
                            {%if prod.s1_img  %}
                            <a href="{{prod.s1_img.url}}"><img src="{{prod.s1_img.url}}" alt='error' class="sampleImg image_fluid border border-success p-1" width="60" height="80"></a>
                            {% endif %}
                             {%if prod.s2_img  %}
                             <a href="{{prod.s2_img.url}}"><img src="{{prod.s2_img.url}}" alt='error' class="sampleImg image_fluid border border-success p-1" width="60" height="80"></a>
                            {% endif %}
                             {%if prod.s3_img  %}
                             <a href="{{prod.s3_img.url}}"><img src="{{prod.s3_img.url}}" alt='error' class="sampleImg image_fluid border border-success p-1" width="60" height="80"></a>
                            {% endif %}
                             {%if prod.s4_img  %}
                             <a href="{{prod.s4_img.url}}"><img src="{{prod.s4_img.url}}" alt='error' class="sampleImg image_fluid border border-success p-1" width="60" height="80"></a>
                            {% endif %}
                        </div>

                    {% endfor %}
                     </div>
                </div>
                   <div class="col-md-8  pt-3 p-2 table-responsive ">
                       {% for prod in product %}
                       <table class="table table-bordered table-secondary  shadow-lg p-3 mb-5 ">
                           <thead class="bg-primary text-info">
                           <tr>
                               <th colspan="2" class="bg-success text-light">Product Details</th>

                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                               <td class="text-info"><strong>Product ID</strong> </td>
                               <td>{{prod.id}}</td>
                           </tr>
                           <tr>
                               <td class="text-info"><strong>Product Category</strong></td>
                               <td>{{prod.category_type.id}}</td>
                           </tr>
                           <tr>
                               <td class="text-info"><strong>Product Name</strong> </td>
                               <td>{{prod.name}}</td>
                           </tr>
                           <tr>
                               <td class="text-info"><strong>Price</strong></td>
                               <td>{{prod.price}}</td>
                           </tr>
                           <tr>
                               <td class="text-info"><strong>Description </strong></td>
                               <td>{{prod.desc}}</td>
                           </tr>

                           </tbody>
                           <tfoot>

                           </tfoot>
                        {% endfor %}
                       </table>
                   </div>
                <hr/>
                <div class="col-md-10  offset-md-1 my-2 p-2" style="box-shadow:0px 0px 10px grey">
                    <input type="hidden" value="{{user.username}}" id="cmntUsr">
                <label for="cmnt">Leave Comment</label>
                <textarea rows="2"  cols="20" name="cmnt" id="cmnt" class="form-control" placeholder="write here."></textarea>
                <button class="btn btn-primary my-3" onclick="leaveCmnt({{pid}})">Submit</button>
            </div>

            </div>
            <div class="col-md-12">
                                {% if cmnt %}
                {% for c in cmnt %}
                <div class="col-md-10 offset-md-1 border border-secondary my-2">
                    <h5 class="bg-warning text-white">{{c.user.username}}</h5>

                    <p>{{c.comment}}</p>
                </div>
                {% endfor %}
                {% endif %}

            </div>

        </div>
        <div class="col-md-3 border border-secondary mx-1">
            <div class="col-md-12 mx-auto">
                <div class="card mt-4 text-info">

                    <div class="card-body">
                         {% for p in product %}
                        <img src="{{p.img.url}}" width="80" height="100" class="img-fluid"/>
                        <p>&#8377 =<span id="bprice">{{p.price}} </span>/-</p>
                        <p>{{p.desc}}</p>
                        {% endfor %}
                       Qty: <select id="pQty">
                        {% for j in 12|range %}
                        <option value="{{j}}">{{j}}</option>
                        {% endfor %}
                    </select>



                        {% for c in product %}
                        {% if c.category_type_id == 1 or c.category_type_id == 2 or c.category_type_id == 3 %}
                         Size: <select id="pSize">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>

                        </select>
                        {% endif %}
                            {% endfor %}
                    </div>


                    <div class="card-footer">
                         <button class=" btn btn-warning btn-sm text-white" onclick="addItems({{pid}})">Add to Cart</button>
                          <button  class="btn btn-success btn-sm bg-success " onclick="buyItem({{pid}})">Buy Now</button>


                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<script>

     function addItems(id,qty)
    {
     let item_id=id;
     let item_qty=$('#pQty').val()
     let item_size=$('#pSize').val()

     $.ajax({
     url:'{% url 'cart'%}',
     type:'post',

     data:{pid:item_id,qty:item_qty,size:item_size,'csrfmiddlewaretoken': '{{ csrf_token }}'},
     success:function(data)
     {
     if(data.msg=="exist")
        {
        console.log("Item already Added!")
        alert("Item already Added!")

        }else if(data.msg=="login")
        {
        alert('Login to add in Cart!')
        }
        else if(data.msg=='sorry')
        {alert("You are not allowed to add in cart!")
        }
        else{

        setTimeout( function () { alert( "Item added!" ); }, 10 );

         window.location.reload()
        }
     }
     })
    }

function buyItem(id)
{

     let item_id=id;
     let item_qty=$('#pQty').val()
     let price=$('#bprice').text()
     item_size=$("#pSize").val()

    {% if user.is_superuser %}
     alert("You are not allowed!")
    {% else %}

          $.ajax({
     url:'{% url 'buy_item'%}',
     type:'post',

     data:{pid:item_id,qty:item_qty,size:item_size,'csrfmiddlewaretoken': '{{ csrf_token }}'},
     success:function(data)
     {
     console.log(data)
     }
     })
          window.location.href="/buy_item"
{% endif %}

}

$(".sampleImg").hover(function(){

$(".mainImg").attr('src',$(this).attr('src'))

})

const leaveCmnt=(pid)=>{
let name=$('#cmntUsr').val()
let cmnt=$('#cmnt').val();

$.ajax({
url:'{% url 'leave_cmnt' %}',
type:'post',
data:{pid:pid,username:name,comment:cmnt,'csrfmiddlewaretoken': '{{ csrf_token }}'},
success:function(data){
console.log(data)
}
})


}

</script>
<script>
  jQuery(document).ready(function(){
    jQuery(".mainImg").imagezoomsl({ zoomrange: [3,3]});
    })
</script>

{% endblock %}