{% extends 'seller_dashboard.html'%}
{% block seller_dashboard %}
<div class="container-fluid">

             <div class="card m-3">
         <div class="card-head bg-info">
             <h5 class="card-title p-2 m-2 bg-success text-white">
                 User Details
             </h5>
         </div>
         <div class="card-body table-responsive">

             <table class="table">
                 <tbody>
                 <tr>
                     <td>First Name</td>
                     <td>{{user.first_name}}</td>
                 </tr>
                 <tr>
                     <td>Last Name</td>
                     <td>{{user.last_name}}</td>
                 </tr>
                 <tr>
                     <td>Email</td>
                     <td>{{user.email}}</td>
                 </tr>
                 <tr>
                     <td>Username</td>
                     <td>{{user.username}}</td>
                 </tr>
                 <tr>
                     <td>Contact</td>
                     <td>{{reg.contact}}</td>
                 </tr>
                 <tr>
                     <td>Address</td>
                     <td>{{reg.address}}</td>
                 </tr>
                 </tbody>
             </table>

         </div>
         <div class="card-footer bg-success"></div>
    </div>

</div>
{% endblock %}
