{% extends 'seller_dashboard.html'%}
{% block seller_dashboard %}
<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h5 class="card-title text-center ">Settings</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 offset-md-3 border border-secondary" style="box-shadow: 0px 0px 10px grey">
            <form action="{% url 'seller_setting'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row">
                <div class="col-md-12 ">
                    <label for="shipping">Shipping Charge:</label>
                    <input type="text" name="ship" id="shipping" class="form-control">
                </div>
                <div class="col-md-12">
                    <label for="sign">Seller Signature:</label>
                    <input type="file" name="sign" id="sign" class="form-control" accept="image/*">
                </div>
                <div class="col-md-12">
                    <label for="dPin">Delivery COD Pincode:</label>
                    <input type="text" name="pin" id="dPin" class="form-control">
                </div>
                <div class="col-md-12 m-2">
                    <label for=""></label>
                    <input type="submit" class="btn btn-success" value="Submit">
                </div>


            </div>
                </form>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>

    </div>
</div>
{% endblock%}