{% extends 'seller_dashboard.html'%}
{% block seller_dashboard %}
<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h5 class="card-header text-center">Technical Support</h5>
        </div>
                <div class="card-body">
                    <p>For Any Technical supports Call to 8757975369</p>
                </div>
        <div class="card-footer"></div>

    </div>
</div>

{% endblock%}
