{% extends 'seller_dashboard.html'%}
{% block seller_dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Order Details</strong>
                </div>
                <div class="card-body table-responsive">
                    <table class="table border border-secondary mt-2">
                <tr>
                <thead class="bg-info text-white">
                    <th>S.no</th>
                    <th>Order Id</th>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Mode</th>
                    <th>Added On</th>
                    <th>Customer</th>
                    <th>Invoice
                        <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in order %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.order.id}}</td>
                    <td><img src="{{i.product.img.url}}" alt="{{i.img.url}}" width="50" height="50"></td>
                    <td>{{i.product.name}}</td>
                    <td>{{i.qty}}</td>
                    <td>{{i.product.price}}</td>
                    <td>{{i.size}}</td>
                    <td>{{i.order.payment_mode}}</td>
                    <td>{{i.added_on}}</td>
                    <td>{{p.user.username}}</td>
                        <td class="d-none" id="img_src">{{p.image.url}}</td>

                   <td><button class="btn btn-success btn-sm download" onclick="download({{i.id}})"><i class="fa fa-download"> Generate</i> </button> </td>
                    <td><a href="/{{i.product.id}}/" class="btn btn-info text-white btn-sm"><i class="fa fa-eye"> View</i> </a> </td>

                </tr>
                {% endfor %}

                </tbody>
            </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function download(i)
    {

<!--    window.location.href="/static/images/logo2.png"-->
     window.location.href="/invoice/"+i
    }
</script>
{% endblock %}