{% extends 'seller_dashboard.html'%}
{% block seller_dashboard %}
<div class="container_fluid">
    <div class="card">
        <div class="card-header">
            <h5 class="text-center card-title p-2 bg-info">My items</h5>
        </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for i in item %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><img src="{{i.img.url}}" aria-atomic="error" width="50" height="60"/> </td>
                            <td>{{i.name}}</td>
                            <td>{{i.price}}</td>
                            <td>{{i.desc}}</td>
                            <td>{{i.category_type.category_name}}</td>
                            <td><button class="btn btn-danger btn-sm" onclick="delItem({{i.id}})"><i class="fa fa-trash"></i> Delete</button></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
        <div class="card-footer"></div>

    </div>

</div>
<script>
    function delItem(Id)
    {
     let status=confirm("Are You sure!")
     if(status==true)
     {
     $.ajax({
     url:'{% url 'delItem' %}',
     type:'post',
     data:{id:Id,'csrfmiddlewaretoken': '{{ csrf_token }}'},
     success:function(d)
     {
     console.log(d);
     window.location.reload();
     }
     })
     }
     else{
     }
    }
</script>
{% endblock %}