{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-dark "  >

<!--            navbar-->
            <nav class="navbar  navbar-dark bg-dark">

                <a class="navbar-brand text-center bg-secondary px-4" href="{% url 'seller_dashboard'%}"><fa class="fa fa-th-large "> Dashboard</fa></a>


      <ul class="navbar-nav nav-profile">
            <li class="nav-item">
                <img src="{{image.url}}" alt="error" height="50" width="50" id="user_img" class="rounded-circle mt-2">
            </li>
          <li class="nav-item">
          <strong class="text-white">{{user.username}}</strong>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'seller_user_profile'%}"><i class="fa fa-user-circle-o"> View Profile</i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'seller_edit_profile'%}"><i class="fa fa-pencil-square-o"> Edit Profile</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'seller_change_password'%}"><i class="fa fa-key"> Change Password</i></a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{% url 'seller_my_product'%}"><i class="fa fa-product-hunt"> My Product</i></a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'seller_add_product'%}"><i class="fa fa-plus"> Add Product</i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'seller_order_history'%}"><i class="fa fa-history"> Order History</i></a>
        </li>


          <li class="nav-item">
          <a class="nav-link" href="{% url 'update_delivery'%}"><i class="fa fa-truck"> Shipping</i></a>
        </li>
                    <li class="nav-item">
                                  <a class="nav-link" href="{% url 'seller_setting'%}"><i class="fa fa-cog"> Setting</i></a>

        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'seller_support'%}"><i class="fa fa-life-ring"> Support</i></a>
        </li>


           <li class="nav-item">
               <a class="nav-link" href="{% url 'logout'%}"><i class="fa fa-window-close-o"> Logout</i></a>
        </li>
      </ul>
            </nav>
    </div>


<!--endbar-->
           <div class="col-md-10 ">
            {% block seller_dashboard %}
               <div class="container">
                   <div class="row my-5">
                       <div class="col-md-4">
                           <div class="card">
                       <div class="card-header bg-info">
                           <h5 class="text-center bg-primary text-white p-2">My Product</h5>
                       </div>
                       <div class="card-body">

                           <strong class="text-info py-5">No of Product:</strong>
                           <b><span class="text-white bg-warning border rounded circle p-3">{{pcount}}</span></b>
                       </div>
                       <div class="card-footer py-3 bg-success"></div>

                   </div>
                       </div>
                       <div class="col-md-4">
                           <div class="card">
                       <div class="card-header bg-primary">
                           <h5 class="text-center bg-success text-white p-2">My Customer</h5>
                       </div>
                       <div class="card-body">
                           <strong class="text-info">No of Customer:</strong>
                           <b><span class="text-white bg-warning border rounded circle p-3">{{ucount}}</span></b>
                       </div>
                       <div class="card-footer bg-primary py-3"></div>

                   </div>
                       </div>
                       <div class="col-md-4">
                           <div class="card">
                       <div class="card-header bg-success">
                           <h5 class="text-center bg-info text-white p-2">My Order</h5>
                       </div>
                       <div class="card-body">

                           <strong class="text-info m-4">No of Order:</strong>
                           <b><span class="text-white bg-warning border rounded circle p-3">{{ocount}}</span></b>

                       </div>

                       <div class="card-footer bg-info py-3">
                   </div>
                       </div>
                       </div>
                       <div class="col-md-12">
                           <div class="card mt-2">
                               <div class="card-body">
                                   <div id="chartContainer" style="height: 300px; width: 100%;"></div>

                               </div>
                               <div class="card-footer py-4 bg-info"></div>
                           </div>

                       </div>

                   </div>

               </div>
            {% endblock %}
        </div>
    </div>

</div>
<script>
window.onload = function () {

var limit =1000;    //increase number of dataPoints by increasing the limit
var y = 500;
var data = [];
var dataSeries = { type: "line" };
var dataPoints = [];
for (var i = 0; i < limit; i += 1) {
	y += Math.round(Math.random() * 10 - 5);
	dataPoints.push({
		x: i,
		y: y
	});
}
dataSeries.dataPoints = dataPoints;
data.push(dataSeries);

//Better to construct options first and then pass it as a parameter
var options = {
	zoomEnabled: true,
	animationEnabled: true,
	title: {
		text: "Sale of Month"
	},
	data: data  // random data
};

$("#chartContainer").CanvasJSChart(options);

}
</script>

{% endblock %}
