{% extends 'seller_dashboard.html'%}
{% block seller_dashboard %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5 class="text-center">ADD ITEM</h5>
        </div>
                <div class="card-body">
                            <form method="post" action="{% url 'add_item'%}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">

                            <div class="col-md-6">
                                <label for="name">Item Name</label>
                                <input type="text" name="name" id="name" class="form-control">
                            </div>
                                                        <div class="col-md-6">
                                <label for="price">Item Price</label>
                                <input type="text" name="price" id="price" class="form-control">
                            </div>

                                                        <div class="col-md-6">
                                <label for="tImg">Template Image</label>
                                <input type="file" name="tImg" id="tImg" class="form-control" accept="image/*">
                            </div>
                            <div class="col-md-6">
                                <label for="s1Img">Sample Image One</label>
                                <input type="file" name="s1Img" id="s1Img" class="form-control" accept="image/*">
                            </div>
                            <div class="col-md-6">
                                <label for="s2Img">Sample Image Two</label>
                                <input type="file" name="s2Img" id="s2Img" class="form-control" accept="image/*">
                            </div>
                            <div class="col-md-6">
                                <label for="s3Img">Sample Image Three</label>
                                <input type="file" name="s3Img" id="s3Img" class="form-control" accept="image/*">
                            </div>
                            <div class="col-md-6">
                                <label for="s4Img">Sample Image Four</label>
                                 <input type="file" name="s4Img" id="s4Img" class="form-control" accept="image/*">
                            </div>

                            <div class="col-md-6">
                                <label for="desc">Item Description</label>
                                <input type="text" name="desc" id="desc" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="offer">Item Offer</label>
                                <input type="checkbox" name="offer" id="offer" >
                            </div>
                            <div class="col-md-6">
                                <label for="cate">Item Category</label>
                                <select  name="cate" id="cate" class="form-control">
                                    <option value="1">Men Clothes</option>
                                    <option value="2">Women Clothes</option>
                                    <option value="3">Kids Clothes</option>
                                    <option value="4">Vegetables</option>
                                    <option value="5">Mobiles</option>

                                </select>
                            </div>

                            <div class="col-md-12 py-4">
                                <label for="but"></label>
                                <button class="btn btn-outline-success">Submit</button>
                            </div>



                        </div>
                            </form>
                </div>

    </div>
</div>
{% endblock %}