
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Registration</title>
  </head>
  <body>

  <div class="row py-3 mb-4">
    <div class="col-md-6 mx-0">
        <img class="img-fluid"  src="{% static "images/reg2.jpg" %}" >
    </div>
      <div class="col-md-6 ">

<div class="card">
    <div class="card-head bg-info">
        {% for msg in messages%}
          <h5 class="text-danger bg-warning "><span>{{msg}}</span></h5>
          {% endfor %}
          <h4 class="text-center bg-primary text-white m-2">Registration</h4>
    </div>
    <div class="card-body ">
         <form action="register_user" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
        <div class="row">

                <div class="col-md-6">
                     <label for="fname" >First Name</label>
                    <input type="text" class="form-control" name="fname" id="fname">
                </div>
            <div class="col-md-6">
                 <label for="lname" >Last Name</label>
                    <input type="text" class="form-control" name="lname" id="lname">
            </div>

            <div class="col-md-6">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="username" >

  </div>
  <div class="col-md-6">
    <label for="password_one" class="form-label">Password</label>
    <input type="password" class="form-control" name="password_one" id="password_one">
  </div>
             <div class="col-md-12">
    <label for="password_two" class="form-label">Repassword</label>
    <input type="password" class="form-control" name="password_two" id="password_two">
  </div>
              <div class="col-md-12">
    <label for="upload_img" class="form-label">Upload</label>
    <input type="file" class="form-control" name="image" id="upload_img" accept="image/*">
  </div>

      <div class="col-md-12">
    <label for="email" class="form-label">Email Address</label>
    <input type="email" class="form-control" name="email" id="email">
  </div>
             <div class="col-md-12">
    <label for="contact" class="form-label">Contact no</label>
    <input type="tel" class="form-control" name="contact" id="contact">
  </div>
             <div class="col-md-12">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" name="address" id="address">
  </div>
            <div class="col-md-12">
<button type="submit" class="btn btn-primary mt-2 py-2">Submit</button>
        </div>

        </div>

</form>
        </div>

    </div>
    <div class="card-footer bg-success p-2">

    </div>

</div>

      </div>
  </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
