{%extends 'seller_dashboard.html'%}
{%block seller_dashboard %}
<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h5 class="card-title text-center">Delivery Verification</h5>
        </div>
        <div class="card-body">
             <form method="post" action="{% url 'payment_verify' %}">
                 {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 offset-md-3 border border-secondary" style="box-shadow:0px 0px 10px grey">
                        <label for="ord">Order No:</label>
                        <input type="text" name="ord" id="ord" class="form-control" placeholder="Enter Order no">
                        <button class="btn btn-warning btn-sm m-2">Submit</button>
                    </div>
                </div>
            </form>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>Order no</th>
                    <th>Invoice</th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Verify Payment</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.invoice}}</td>
                    <td>{{order.user.username}}</td>
                    <td>{{prod.name}}</td>
                    <td>{{prod.price}}</td>
                    <td>{% if order.status is False %}
                    <button class="btn btn-warning btn-sm">Pending</button>
                    {% else%}
                        <button class="btn btn-success btn-sm">Success</button>
                    {% endif %}</td>
                    <td><button class="btn btn-success btn-sm" onclick="verifyOrder({{order.id}})">Verify</button></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>

    </div>
</div>
<script>
    function verifyOrder(id)
    {
    $.ajax({
    url:'{% url 'payment_verify' %}',
    type:'get',
    data:{id:id},
    success:function(d)
    {
    alert(d)
    }
    })
    }
</script>
{% endblock %}