{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-dark "  >

<!--            navbar-->
            <nav class="navbar  navbar-dark bg-dark">

                <a class="navbar-brand text-center bg-secondary px-4" href="#"><i class="fa fa-th-large" >DashBoard</i></a>


      <ul class="navbar-nav nav-profile">
            <li class="nav-item">
                <img src="{{image.url}}" alt="error" height="50" width="50" id="user_img" class="rounded-circle mt-4">
            </li>
          <li class="nav-item">
          <strong class="text-white">{{user.username}}</strong>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'user_profile'%}"><i class="fa fa-user-circle-o"> View Profile</i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'edit_profile'%}"><i class="fa fa-pencil-square-o"> Edit Profile</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'change_password'%}"><i class="fa fa-key"> Change Password</i></a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{% url 'my_product'%}"><i class="fa fa-product-hunt"> My Product</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'order_history'%}"><i class="fa fa-history"> Order History</i></a>
        </li>
           <li class="nav-item">
               <a class="nav-link" href="{% url 'logout'%}"><i class="fa fa-window-close-o"> Logout</i></a>
        </li>
      </ul>
            </nav>
    </div>


<!--endbar-->
           <div class="col-md-10 ">
            {% block dashboard %}
            {% endblock %}
        </div>
    </div>

</div>

{% endblock %}
